
# Terraform
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log

# Ansible
*.retry
ansible/inventory/hosts
vault_pass.txt

# Secrets / keys
*.pem
*.key
.env
.env.*
!.env.example

# OS
.DS_Store
